/*Global reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 


/* Start here */

 body {
    background-image: url(../images/bgbg.jpg);
    background-repeat:no-repeat;  
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o
    -background-size: cover;
}
 #text {
 	 background-repeat:no-repeat;  
    background-attachment: fixed; 
  	width: 900px; 
 } 

 #prof {background-repeat:no-repeat;  
    background-attachment: fixed; 
    background-position: center;
  	width: 200px; 
 } 

 #myname {
 	font-family: 'Lobster', sans-serif ;
 	text-shadow: 2px 2px #70C1FF; 
 	color: #4A5FE8;
 	font-size: 60px; 
} 

 #myname1 {
 	font-family: 'Lobster', sans-serif ;
 	color: #4A5FE8;
 	text-shadow: 2px 2px #70C1FF;
 	font-size: 70px; 
 	margin-bottom: 0px;  
 	margin-top: 20px; 
} 

.bio {
	font-family: 'Bree Serif', sans-serif  ;
	color: #2C398A;
}

.me {
	height: 150px; 
	border-radius: 100%;
	border-style: solid; 
	border-color: #70C1FF; 
} 

.about {
	width: 500px;
	margin-left:  auto; 
	margin-right: auto;
	text-align: center;
}